<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/logo_256.png">
         <run
               class="org.eclipse.emf.ecp.makeithappen.application.sample.e3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.ecp.makeithappen.application.sample.e3.Perspective"
            fixed="true"
            icon="icons/logo_256.png"
            id="TestApp.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.emf.ecp.makeithappen.application.sample.e3.View"
            icon="icons/logo_256.png"
            id="TestApp.view"
            name="View">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.emf.ecp.makeithappen.application.sample.e3.application"
            name="MakeItHappen Sample e3 Product">
         <property
               name="appName"
               value="MakeItHappen Sample e3 Product">
         </property>
         <property
               name="windowImages"
               value="icons/logo_256.png">
         </property>
      </product>
   </extension>

</plugin>
