<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecoreA1 -->
      <package
            uri="http://www.example.org/ecoreA1"
            class="ecoreA1.EcoreA1Package"
            genModel="model/ecoreA1.genmodel"/>
   </extension>

</plugin>
